
.navbar{
    background-color: #0B5ED7;
    justify-content: start;
}

ul{
    display: flex;
    
}
i{
   font-size: 2em;
   background-color: #0B5ED7;
}
li{
    padding: 10px 25px;
    list-style: none;
    font-size: large;
    font-weight: bold;
    background-color: #0B5ED7;
    color: white;
    
}