/* app-navbar{
    position: fixed;
    width: 100%;
    top: 6px;
    z-index: 2;
}

/* main{
    position:absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;

} */

/* app-sidenav{
    position: absolute;
    left: 0rem;
    width: 350px;
    height: 100%;
    padding-top: 2rem;
   
} */ 